[Desktop Entry]
Type=Application
Name=Qqsp
Comment=Qt Quest Soft Player
Exec=/usr/bin/Qqsp %u
Icon=qsp
Terminal=false
StartupNotify=false
Categories=Game;
MimeType=application/x-qsp;
